<!--js의 용량이 크면 클수록 body의 실행이 늦어지기 때문에 body 하단에서 js 호출
bootstrap.js는 제이쿼리에 의존하기 때문에 제이쿼리 뒤에 호출-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가 절대경로: src/main/resources/static-->
<script src="/js/app/index.js"></script>
</body>
</html>